extends templates/layout 

block content
  if errorMessage
    p=errorMessage
  form(method="POST")
    input(name="username", placeholder="Username", type="text", required)
    input(name="name", placeholder="Name", type="text", required)
    input(name="password", placeholder="Password", type="password", required)
    input(name="confirm_password", placeholder="Confirm password", type="password", required)
    button(type="submit") Join us!
  div 
    hr
    p Already have account?
    a(href="/login") Login here! &rarr;
